:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --mainFont: 'Outfit', sans-serif;
}

/** Globals **/

body {
    min-height: 100vh;
    background-color: var(--mainBG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: var(--mainFont);
    color: var(--softBlue);
    font-size: 18px;
}

/** Card **/

.card {
    background-color: var(--cardBG);
    max-width: 300px;
    height: 550px;
    padding: 20px;
    border-radius: 20px;
}

.card__image {
    width: 100%;
    border-radius: 10px;
}

/** Card__info **/

.card__info--title {
    font-family: var(--mainFont);
    color: var(--white);
    font-size: 22px;
}

.card__info--text {
    font-weight: 300;
}

/** Card details**/

.card__details {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.card__details--price, .card__details--time{
    display: flex;
    align-items: center;
}

.card__details--price img {
    height: 18px;
}

.card__details--price p {
    margin-left: 10px;
    font-size: 16px;
    color: var(--cyan);
    font-weight: 400;
}

.card__details--time{
    margin-left: 90px;
}

.card__details--time p {
    font-size: 16px;
    margin-left: 7px;
}

/** Card Seller **/

.card__seller {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--line);
    padding-top: 5px;
}

.card__seller--image {
    height: 32px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.card__seller--text {
    margin-left: 18px;
    font-size: 16px;

}

.card__seller--text span {
    color: var(--white);
}