:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: rgb(0, 255, 247);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --cyan2: rgba(0, 255, 247,0.5);

    --mainFont: 'Outfit', sans-serif;
}

/** Globals **/

body {
    min-height: 100vh;
    background-color: var(--mainBG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: var(--mainFont);
    color: var(--softBlue);
    font-size: 17px;
}

/** Card **/

.card {
    background-color: var(--cardBG);
    max-width: 300px;
    height: 535px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

.card__image {
    background-image: url("images/image-equilibrium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 310px;
    border-radius: 10px;
    margin-bottom: 5px;
}

/**ARREGLAR ESTO**/

.card__image--h{
    background-color: var(--cyan2);
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__image--h:hover {
    visibility: hidden;
}

/** Card__info **/

.card__info--title {
    font-family: var(--mainFont);
    color: var(--white);
    font-size: 22px;
}

.card__info--title:hover {
    color: var(--cyan);
    cursor: pointer;
}

.card__info--text {
    font-weight: 300;
    margin-bottom: 5px;
}

/** Card details**/

.card__details {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.card__details--price, .card__details--time{
    display: flex;
    align-items: center;
}

.card__details--price img {
    height: 18px;
}

.card__details--price p {
    margin-left: 10px;
    font-size: 16px;
    color: var(--cyan);
    font-weight: 400;
}

.card__details--time{
    margin-left: 90px;
}

.card__details--time p {
    font-size: 16px;
    margin-left: 7px;
}

/** Card Seller **/

.card__seller {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--line);
    padding-top: 5px;
}

.card__seller--image {
    height: 32px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.card__seller--text {
    margin-left: 18px;
    font-size: 16px;

}

.card__seller--text span {
    color: var(--white);
}

.card__seller--text span:hover {
    color: var(--cyan);
    cursor: pointer;
}

/** Attribution **/

.attribution {
    font-family: var(--mainFont);
    color: var(--softBlue);
    font-size: 14px;
}

.attribution a {
    color: var(--white);
}

.attribution a:hover {
    color: var(--cyan);
}